body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  height: 100vh;
  justify-content: center;
  text-rendering: optimizeLegibility;
}